.content--title
  新規投稿を作成

= form_with model: @post, class: :form, local: true do |form|
  = form.file_field :image, class: :form__image
  = form.text_field :title, placeholder: :タイトル, class: :form__title
  = form.text_area :content, placeholder: :今日も良い調子です, class: :form__text
  = form.submit '投稿する', class: :form__btn
